* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

#brick_bg {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  background-image: url('assets/bricks.png');
  z-index: 1;
}

#gamespace {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url('assets/background.png');
  z-index: 2;
  background-repeat: repeat;
}

#titletop {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -500%);
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 480px;
}

#tilemap {
  display: none
}

#issues {
  z-index: 4;
  font-size: xx-large;
}