* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

#brick_bg {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url('assets/backgrounds/bricks.png');
  z-index: 1;
}

#gamespace {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url('assets/backgrounds/background.png');
  z-index: 2;
  background-repeat: repeat;
}

#titletop {
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -500%);
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 480px;
}

#tilemap {
  display: none
}

#issues {
  z-index: 4;
  font-size: xx-large;
}

#musicbtn {
  z-index: 4;
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -500%);
  top: 16%;
  left: 94%;
  z-index: 3;
}

#soundbtn {
  z-index: 4;
  position: absolute;
  image-rendering: pixelated;
  transform: translate(-50%, -500%);
  top: 16%;
  left: 92%;
  z-index: 3;
}

#teststats {
  z-index: 4;
  position: absolute;
  transform: translate(-50%, -500%);
  top: 30%;
  left: 20%;
  z-index: 3;
}